<!doctype html>
<html class="no-js" lang="en">
<head>
        <meta charset="utf-8" />
        <title>Machine Comprehension</title>
        <!-- Bootstrap -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Magnific -->
        <link href="../static/css/magnific-popup.css" rel="stylesheet" type="text/css" />
        <!-- Icon -->
        <link href="../static/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />          
        <!-- SLICK SLIDER -->
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css"/> 
        <link rel="stylesheet" href="../static/css/owl.theme.css"/> 
        <link rel="stylesheet" href="../static/css/owl.transitions.css"/>    
        <!-- Custom Css -->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/colors/default.css" rel="stylesheet" id="color-opt">
        <!-- Custom JS -->
        <script type="text/javascript" src="../static/js/showfield1.js"></script>
        <script type="text/javascript" src="../static/js/showfield2.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logosmall.ico') }}">
        <!-- For Flask -->
        <!-- "{{ url_for('static', filename='stylesheets/style.css') }}" -->
        <!-- Bootstrap -->
        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Magnific -->
        <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet" type="text/css" />
        <!-- Icon -->
        <link href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/pe-icon-7-stroke.css') }}" rel="stylesheet" type="text/css" />          
        <!-- SLICK SLIDER -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}"/> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}"/> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}"/>    
        <!-- Custom Css -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='css/colors/default.css') }}" rel="stylesheet" id="color-opt">
        <!-- Custom JS -->

        <script type="text/javascript" src="{{ url_for('static', filename='js/showfield1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/showfield2.js') }}"></script>
    </head>

<body>
    
        <!-- Loader Start -->
        
        <!-- Loader End -->

        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
    		<div class="container">
                <a class="navbar-brand" href="https://dkedar.com/">
                    <img src="{{ url_for('static', filename='images/logodark.png') }}" class="l-dark" height="38" alt="">
                   <img src="{{ url_for('static', filename='images/logolight.png') }}" class="l-light" height="38" alt="">
                </a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="mdi mdi-menu"></span>
			    </button><!--end button-->

			    <div class="collapse navbar-collapse" id="navbarCollapse">
			        <ul class="navbar-nav mx-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="https://dkedar.com/">Home</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                                <a class="nav-link" href="https://dkedar.com/#resume">Resume</a>
                            </li><!--end nav item-->
                        <!-- <li class="nav-item">
                                <a class="nav-link" href="#projects">Projects</a>
                            </li>end nav item -->
                        <li class="nav-item">
			                <a class="nav-link" href="https://dkedar.com/#drumming">Drumming</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                                <a class="nav-link" href="https://dkedar.com/#blog">Blog</a>
                            </li><!--end nav item-->
			           
			            <li class="nav-item">
                            <a class="nav-link" href="https://dkedar.com/#contact">Contact</a>
                        </li><!--end nav item-->
                        
                    </ul>

                    <ul class="list-unstyled mb-0 mt-2 mt-sm-0 social-icon light-social-icon">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dkedar7"
                            target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com/dkedar7" 
                            target="_blank"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://medium.com/@kedardabhadkar" 
                            target="_blank"><i class="mdi mdi-medium"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.github.com/dkedar7" 
                            target="_blank"><i class="mdi mdi-github-circle"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/kedardabhadkar/" 
                            target="_blank"><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                </div> 
		    </div><!--end container-->
		</nav><!--end navbar-->
        <!-- Navbar End -->


        <!-- <center><h2 style="font-weight 300;">Machine Comprehension</h2></center> -->
        <!-- About Start -->
        <section class="section bg-light" id="services">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="section-title">
                                <div class="titles">
                                    <h5 class="title mb-4 pb-4">Machine Comprehension</h5>
                                    <p class="text-muted mx-auto para-desc mb-0">
                                         <font color="black">
                                        Share a story with a neural network and ask it questions. See if it gets the right answers. <br>
                                        Machine Comprehrension, also know as, question answering, is one of many 
                                        <a href="http://nlpprogress.com/" target="_blank">Natural Language Processing tasks</a>.
                                        <br><br>
                                        Get in touch on <a href="https://www.linkedin.com/in/dkedar7" target="_blank">LinkedIn</a> or follow me on 
                                        <a href="https://www.twitter.com/dkedar7" target="_blank">Twitter</a> to learn more about machine comprehension, other NLP tasks,
                                        or the implementation of this WebApp.

                                    <a href="#about">Learn more</a> about this machine learning model.
                                        </font>
                                    </p>            
                                    <br>
            
            <p><b>Step 1. Write or paste your favorite passage or choose from options</b></p>
            <form class="md-form">
                    <select name="travel_arriveVia" id="travel_arriveVia" onchange="showfield1(this.options[this.selectedIndex].value)">
                            <option value="Other">Choose from options</option>
                            <option value="revel">Revel's Pitch</option>
                            <option value="doppler">Doppler Effect</option>
                    </select>
                    <br><br>
                <textarea name="context" id="textarea1" rows="8" class="form-control border rounded" 
                placeholder="Share the context here."></textarea>

                <br>
                    <b>Step 2. Type a question or select one from the dropdown </b>
                <br>
                <select name="question_options" id="question_options" onchange="showfield2(this.options[this.selectedIndex].value)">
                        <option value="Other">Choose from options</option>
                        <option value="revelQ1">What is Revel?</option>
                        <option value="revelQ2">What does Revel do?</option>
                        <option value="revelQ3">How does Revel solve challenges?</option>
                        <option value="dopplerQ1">What is the Doppler effect?</option>
                        <option value="dopplerQ2">What is a common example of the Doppler shift?</option>
                        <option value="dopplerQ3">What causes the Doppler effect?</option>
                        <option value="dopplerQ4">What causes an increase in frequency?</option>
                </select>
                <br>
                <br> 
                <textarea name="query" id="textarea2" rows="2" class="form-control border rounded"
                placeholder="Ask your question"></textarea>
                <br>
                <div><button class="btn btn-custom rounded mouse-down" type="submit">Find!</button></div>
                <br>
                <textarea name="text_output" id="textarea3" rows="2" class="form-control border rounded"
                placeholder="The answer is" readonly></textarea>
                <br>
                
            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <h5 id="about"><center>About</center></h5>
        <center>
        <p class="text-muted mx-auto para-desc mb-0">
            <font color="black">
            Researchers from the <a href="https://www.cs.washington.edu/" target="_blank">University of Washington</a> and <a href="https://allenai.org/" target="_blank">
            Allen Institute of Artificial Intelligence</a> published a neural network model called <a href="https://arxiv.org/abs/1611.01603"
            target="_blank">BiDAF, short for Bi-Directional Attention Flow</a> in 2016. This model stood at the top of the Stanford Question and Answering Dataset (SQuAD) 
            leaderboard for several weeks. Although many newer models beat it eventually, BiDAF was instrumental in laying down the work for 
            some other pathbreaking models like BERT and ELMo.
            <br><br>
            This app uses the pretrained weights of the model as found <a href="https://github.com/onnx/models" target="_blank">here</a>
            in the ONNX format. A simpler implementation can also be found in this <a href="https://github.com/dkedar7/EasyAccess/blob/master/Natural%20Language%20Processing/Machine%20Comprehension/machine_comprehension_with_BIDAF.ipynb"
            target="_blank">notebook</a>.
            <br><br>
            Built by <a href="https://www.linkedin.com/in/dkedar7" target="_blank">Kedar Dabhadkar</a> 
            (<a href="https://www.twitter.com/dkedar7" target="_blank">@dkedar7</a>). <br>
            Source code can be found <a href="https://github.com/dkedar7/NaturalLanguageProcessing/tree/master/Machine%20Comprehension" target="_blank">
            here</a></a>.
        </font>              
        </p>
   
    </center>
        </section>
               

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
            $("form").submit(function(event){
                event.preventDefault();
                $.post(window.location.href, $("form").serialize(), function (data) {
                    console.log('Result Found!')
                    $('textarea#textarea3').val(data)
                })
            })
    </script>    
<!-- Contact Start -->
<section class="section bg-light" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <div class="titles">
                            <h4 class="title text-uppercase mb-4 pb-4">Contact Me</h4>
                            <span></span>
                        </div>
                        <p class="text-muted mx-auto para-desc mb-0"> I'm always on the lookout for interesting projects and opportunities to collaborate. 
                            If you want to build something cool, or could use my experience/ skills, get in touch!</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row" id="counter"></div><!--end row-->
            <div class="row">
                <div class="col-md-4 mt-4 pt-2">
                    <div class="contact-detail text-center">
                        <div class="icon">
                            <i class="mdi mdi-linkedin"></i>
                        </div>
                        <div class="content mt-3">
                            <h4 class="title text-uppercase">LinkedIn</h4>
                            <p class="text-muted">Let's connect on LinkedIn and see how we can collborate</p>
                            <a href="https://www.linkedin.com/in/dkedar7" target="_blank" class="text-custom">Connect</a>
                        </div>  
                    </div>
                </div><!--end col-->
                
                <div class="col-md-4 mt-4 pt-2">
                    <div class="contact-detail text-center">
                        <div class="icon">
                            <i class="mdi mdi-email"></i>
                        </div>
                        <div class="content mt-3">
                            <h4 class="title text-uppercase">Email</h4>
                            <p class="text-muted">Optionally, send me an email and I'll get back at the earliest</p>
                            <a href="mailto:kdabhadk@gmail.com" class="text-custom">Click to Email</a>
                        </div>  
                    </div>
                </div><!--end col-->
                
                <div class="col-md-4 mt-4 pt-2">
                    <div class="contact-detail text-center">
                        <div class="icon">
                            <i class="mdi mdi-map-marker"></i>
                        </div>
                        <div class="content mt-3">
                            <h4 class="title text-uppercase">Location</h4>
                            <p class="text-muted">Belltown, Seattle, USA</p>
                            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21516.81988087736!2d-122.36144717633468!3d47.614418717836166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490154c155fe945%3A0xf7b9bd6cb68b49dc!2sBelltown%2C%20Seattle%2C%20WA!5e0!3m2!1sen!2sus!4v1575417143648!5m2!1sen!2sus" class="video-play-icon text-custom">View on Google map</a>
                        </div>  
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->



    <!-- Contact End -->

<!-- Footer Start -->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#"><img src="{{ url_for('static', filename='images/logolight.png') }}" height="36" alt=""></a>
                <p class="para-desc mx-auto mt-4"><font color="white">Integrating data sources, extracting insights, and automating decisions.</font></p>
                <ul class="list-unstyled mb-0 mt-4 social-icon">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/dkedar7"
                        target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com/dkedar7" 
                        target="_blank"><i class="mdi mdi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://medium.com/@kedardabhadkar" 
                        target="_blank"><i class="mdi mdi-medium"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.github.com/dkedar7" 
                        target="_blank"><i class="mdi mdi-github-circle"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/kedar.dabhadkar"
                        target="_blank"><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/kedardabhadkar/" 
                        target="_blank"><i class="mdi mdi-instagram"></i></a></li>
                    
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<hr>
<footer class="footer footer-bar bg-dark">
    <div class="container text-foot text-center">
        <p class="mb-0">© 2019-20 Kedar Dabhadkar.</p>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
    <i class="mdi mdi-chevron-up d-block"> </i> 
</a>
<!-- Back to top -->
</body>
</html>